*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    background-color: rgba(30, 143, 255, 0.974);
    color: #626262;
}
body a
{
    color: #626262;
    text-decoration: none;
}
body a:hover
{
    color: #d41515;
    text-decoration: underline;
}
.main
{
    background-color: #fff;
    width: 90%;
    margin: 5% 5%;
}
.firstcell
{
    width: 100%;
    height: 6%;
}
.home
{
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid;
}
.welcome
{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid;
}
.logout
{
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    padding: 5px 0px;
    border: 1px solid;
}
.seccell
{
    width: 100%;
    height: 6%;
}
.video-detail
{
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px 0px;
    border: 1px solid;
}

.thirdcell
{
    width: 100%;
    height: 10%;
}
.video-id
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.video-name
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.channel
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.video-link
{
    height: 100%;
    float: left;
    width: 50%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.country
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.city
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.actio
{
    height: 100%;
    float: left;
    width: 10%;
    padding: 5px 0px;
    text-align: center;
    border: 1px solid;
}
.forthcell
{
    width: 100%;
    height: 10%;
}
.forthcell input
{
    width: 100%;
    height: 100%;
    border: 0px;

}
.forthcell button
{
    text-decoration: none;
    border: 0;
    font-size: large;
    margin-right: 5px;
    background-color: #fff;
    color: #626262;
}
.forthcell button:hover
{
    color: #d41515;
    text-decoration: underline;
}

